body {
  background-image: url("/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

#bossIMG {
  display: flex;
  justify-content: center;
  align-items: center;
  
  transition: transform 0.4s ease;

}

#placeholder {
  width: 300px;
  height: 300px;
  object-fit: contain;
  background-color: black;
}

#image_title {
  display: block;
  margin: 20px auto;
  width: 400px;
  height: auto;
}

* {
  box-sizing: border-box;
}

body {
  font: 16px Arial;
}

/*
https://www.w3schools.com/howto/howto_js_autocomplete.asp
*/

form {
  margin-top: 3rem;
  text-align: center;
}
.autocomplete {
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type="text"] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type="submit"] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

#bossIMG {
  width: 300px;
  height: 300px;
  overflow: hidden;
  position: relative;
}

#bossImage {
  position: absolute;
}

#guessBossContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fail {
  margin-top: 5px;
  border: 1px solid black;
  background-color: rgba(223, 39, 39, 0.69);
}

.correct {
  margin-top: 5px;
  border: 1px solid black;
  background-color: rgba(39, 223, 70, 0.69);
}

#guessLog {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.log {
  width: 30%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#again {
  display: inline-block;

  margin-top: 20px;
  padding: 10px 18px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background: linear-gradient(145deg, #444, #222);
  border-radius: 8px;
  text-decoration: none;
  box-shadow: 0 4px 0 #111;
  transition: all 0.15s ease-in-out;
}
#again:hover {
  background: linear-gradient(145deg, #666, #333);
  transform: translateY(-2px);
  box-shadow: 0 6px 0 #111;
}
#again:active {
  transform: translateY(2px);
  box-shadow: 0 2px 0 #111;
}

#btncontainer{
  display: flex;
  width: 100%;
  justify-content: center;
}